<span class="t3-help-link"
	  href="#"
	  data-html="true"
	  data-original-title="About"
	  data-placement="auto"
	  data-content="<p>
	  	<b>File and folder permission</b><br/>
	  	See installatool 'Folder structure'.<br/><br/>
	  	Check 'Default File and Directory permissions' and ensure 'These structures don't need to be fixed'.<br/><br/>
	  	See also 'All configuration' [SYS][fileCreateMask], [SYS][folderCreateMask], [SYS][createGroup]<br/><br/>
	  	</p>">
	<abbr class="t3-help-teaser"><button type="submit" class="btn btn-sm btn-info" data-dismiss="modal">Info</button></abbr>
</span>