<f:layout name="Default"/>

<f:section name="content">
	<f:flashMessages/>
	<ul>
		<li>
			<f:link.action controller="FileAndFolderPermission" action="index">
				<f:translate key="controller.fileAndFolderPermission.action.index"/>
			</f:link.action>
			<f:render partial="Toolbox/FileAndFolderPermission/Info"/>
		</li>
		<li>
			<f:link.action controller="FileDuplication" action="index">
				<f:translate key="controller.fileDuplication.action.index"/>
			</f:link.action>
			<f:render partial="Toolbox/FileDuplication/Info"/>
		</li>
	</ul>
</f:section>