<f:layout name="Default"/>

<f:section name="content">
	<f:flashMessages/>
	<h2>
		<f:translate key="controller.fileDuplication.action.index"/>
	</h2>
	<h3>Storages</h3>
	<f:if condition="{data.list.storages}">
		<f:then>
			<f:render partial="Toolbox/FileDuplication/StorageList" arguments="{_all}"/>
		</f:then>
		<f:else>
			No storages found!
		</f:else>
	</f:if>
	<h3>Files and duplications</h3>
	<f:if condition="{filesDuplications}">
		<f:then>
			<p>
				Files count: <f:count subject="{filesDuplications}"/>
			</p>
			<table class="t3-table t3-datatable">
				<theader>
					<tr>
						<th>Count</th>
						<th>File (first found)</th>
						<th>Type</th>
						<th>Sha1</th>
					</tr>
				</theader>
				<tbody>
				<f:for each="{filesDuplications}" as="filesDuplication" iteration="iterator">
					<tr class="{f:if(condition: iterator.isEven, then: 'even', else: 'odd')}"
						role="row">
						<td>
							<strong>{filesDuplication.totalCount}</strong>
						</td>
						<td>
							<f:link.action action="showDuplications" controller="FileDuplication" arguments="{selection:{storage:data.selection.storage.uid, directory:data.selection.directory}, sha1:filesDuplication.sha1}">
								{filesDuplication.name}
							</f:link.action>
						</td>
						<td>
							{filesDuplication.type}
						</td>
						<td>
							<em>{filesDuplication.sha1}</em>
						</td>
					</tr>
				</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			No duplications found!
			<f:if condition="{data.selection.storage}">
				<f:then></f:then>
				<f:else>
					Please select a storage.
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:section>