<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:fl="http://typo3.org/ns/TYPO3/CMS/Filelist/ViewHelpers">
<f:layout name="Default"/>

<f:section name="content">
	<f:flashMessages/>
	<f:link.action
			controller="FileDuplication"
			action="index"
			arguments="{selection:{storage:data.selection.storage.uid, directory:data.selection.directory}}"
			class="btn btn-sm btn-info">
		Back to index
	</f:link.action>
	<h2>
		<f:translate key="controller.fileDuplication.action.index"/>
	</h2>
	<h3>File and duplicates</h3>
	<f:if condition="{fileDuplications}">
		<f:then>
			<p>
				Files sha1: {fileDuplications.0.sha1}<br/>
				Files count: <f:count subject="{fileDuplications}"/><br/>
				<f:if condition="{data.selection.storage}">
					Storage [uid]: {data.selection.storage.name} [{data.selection.storage.uid}]<br/>
				</f:if>
				<f:if condition="{data.selection.directory}">
					Directory: {data.selection.directory}<br/>
				</f:if>
			</p>
			<table class="t3-table t3-datatable">
				<theader>
					<tr>
						<th>Uid</th>
						<th>Preview</th>
						<th>Filename</th>
						<th>Meta (title, descr., keywords, caption)</th>
						<th>Date File (created, modify)</th>
						<th>Date DB (created, modify)</th>
						<th>Storage (name [uid])</th>
					</tr>
				</theader>
				<tbody>
					<f:for each="{fileDuplications}" as="fileDuplication" iteration="iterator">
						<tr class="{f:if(condition: iterator.isEven, then: 'even', else: 'odd')}"
							role="row">
							<td style="white-space: nowrap">
								<fl:link.clickMenuOnIcon table="{fileDuplication.combinedIdentifier}">
									{fileDuplication.icon->f:format.raw()} {fileDuplication.uid}
								</fl:link.clickMenuOnIcon>
							</td>
							<td>
								<f:if condition="{fileDuplication.publicUrl}">
									<f:then>
										<a href="{fileDuplication.publicUrl}" target="_blank" title="{fileDuplication.publicUrl}">
											<f:if condition="{fileDuplication.type} == 2">
												<f:image
														src="{fileDuplication.publicUrl}"
														alt="{fileDuplication.name}"
														treatIdAsReference="0"
														maxWidth="64"
														maxHeight="64"/>
											</f:if>
										</a>
									</f:then>
									<f:else>
										<span title="{fileDuplication.publicUrl}">NOT FOUND</span>
									</f:else>
								</f:if>
							</td>
							<td>
								<f:if condition="{fileDuplication.publicUrl}">
									<f:then>
										<a href="{fileDuplication.publicUrl}" target="_blank" title="{fileDuplication.publicUrl}">
											{fileDuplication.name}
										</a>
									</f:then>
									<f:else>
										<span title="{fileDuplication.publicUrl}">{fileDuplication.name} NOT FOUND</span>
									</f:else>
								</f:if>
							</td>
							<td>
								T: {fileDuplication.properties.title}<br/>
								D: {fileDuplication.properties.description}<br/>
								K: {fileDuplication.properties.keywords}<br/>
								C: {fileDuplication.properties.caption}<br/>
							</td>
							<td>
								<f:format.date format="Y.m.d. H:i">{fileDuplication.properties.creation_date}</f:format.date><br/>
								<f:format.date format="Y.m.d. H:i">{fileDuplication.properties.modification_date}</f:format.date><br/>
							</td>
							<td>
								<f:format.date format="Y.m.d. H:i">{fileDuplication.properties.crdate}</f:format.date><br/>
								<f:format.date format="Y.m.d. H:i">{fileDuplication.properties.tstamp}</f:format.date><br/>
							</td>
							<td>
								{fileDuplication.storage.name} [{fileDuplication.storage.uid}]
							</td>
						</tr>
					</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			No files found!
		</f:else>
	</f:if>
</f:section>