<f:layout name="Default"/>

<f:section name="content">
	<f:flashMessages/>
	<f:link.action controller="FileDuplication" action="index" arguments="{selection:{storage:data.selection.storage.uid, directory:data.selection.directory}}">
		Back to index
	</f:link.action>
	<h2>
		<f:translate key="controller.fileDuplication.action.index"/>
	</h2>
	<h3>File and duplicates</h3>
	<f:if condition="{fileDuplications}">
		<f:then>
			<p>
				Files sha1: {fileDuplications.0.sha1}<br/>
				Files count: <f:count subject="{fileDuplications}"/><br/>
				<f:if condition="{data.selection.storage}">
					Storage: {data.selection.storage.name}<br/>
				</f:if>
				<f:if condition="{data.selection.directory}">
					Directory: {data.selection.directory}<br/>
				</f:if>
			</p>
			<table class="t3-table t3-datatable">
				<theader>
					<tr>
						<th>Uid</th>
						<th>Storage (uid/name)</th>
						<th>File</th>
						<th>Sha1</th>
						<th>Meta (title, descr., keywords, caption)</th>
					</tr>
				</theader>
				<tbody>
					<f:for each="{fileDuplications}" as="fileDuplication" iteration="iterator">
						<tr class="{f:if(condition: iterator.isEven, then: 'even', else: 'odd')}"
							role="row">
							<td>
								<strong>{fileDuplication.uid}</strong>
							</td>
							<td>
								{fileDuplication.storage.uid} / {fileDuplication.storage.name}
							</td>
							<td>
								<f:if condition="{fileDuplication.publicUrl}">
									<f:then>
										<a href="{fileDuplication.publicUrl}" target="_blank" title="{fileDuplication.publicUrl}">
											<f:if condition="{fileDuplication.type} == 2">
												<f:image
														src="{fileDuplication.publicUrl}"
														alt="{fileDuplication.name}"
														treatIdAsReference="0"
														maxWidth="64"
														maxHeight="64"/>
											</f:if>
											{fileDuplication.name}
										</a>
									</f:then>
									<f:else>
										<span title="{fileDuplication.publicUrl}">{fileDuplication.name} NOT FOUND</span>
									</f:else>
								</f:if>
							</td>
							<td>
								<em>{fileDuplication.sha1}</em>
							</td>
							<td>
								T: {fileDuplication.properties.title}<br/>
								D: {fileDuplication.properties.description}<br/>
								K: {fileDuplication.properties.keywords}<br/>
								C: {fileDuplication.properties.caption}<br/>
							</td>
						</tr>
					</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			No files found!
		</f:else>
	</f:if>
</f:section>